<a href="https://colab.research.google.com/github/sunnyskydream/ML-practice/blob/main/1_B_Supervised_Learning_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
import scipy as sp
import sklearn

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
%matplotlib inline

import requests, zipfile
import io

#import data : https://archive.ics.uci.edu/ml/datasets/adult
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
res = requests.get(url).content

adult = pd.read_csv(io.StringIO(res.decode('utf-8')), header = None)
adult.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','flg-50K']
adult.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country flg-50K
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [20]:
adult.groupby('flg-50K').size()

flg-50K
 <=50K    24720
 >50K      7841
dtype: int64

In [21]:
# >50 =1, else =0
adult['fin_flg'] = adult['flg-50K'].map(lambda x:1 if x == ' >50K' else 0)
adult.groupby('fin_flg').size()

fin_flg
0    24720
1     7841
dtype: int64

In [22]:
#build model
#import 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

#target = adult.fin_flg
X = adult[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']]
y = adult.fin_flg

#train and test set split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

#initialize and train
model = LogisticRegression()
model.fit(X_train, y_train)

print('accuracy(train): {:.3f}'.format(model.score(X_train, y_train)))
print('accuracy(test): {:.3f}'.format(model.score(X_test, y_test)))

accuracy(train): 0.797
accuracy(test): 0.798

In [23]:
model.coef_
#https://stackoverflow.com/questions/31951980/what-exactly-does-numpy-exp-do
#https://yilishih.medium.com/%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92-classification-logistic-regression-lr-%E9%82%8F%E8%BC%AF%E6%96%AF%E8%BF%B4%E6%AD%B8-e216ac646acb
np.exp(model.coef_)

array([[0.98821539, 0.99999562, 0.99722952, 1.00032744, 1.00075352]])

In [26]:
# after normalization
# 如何理解Normalization，Regularization 和 standardization？ https://www.zhihu.com/question/59939602
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#target = adult.fin_flg
X = adult[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']]
y = adult.fin_flg

#train and test set split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

#normalization
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

#initialize and train
model = LogisticRegression()
model.fit(X_train_std, y_train)

print('accuracy(train): {:.3f}'.format(model.score(X_train_std, y_train)))
print('accuracy(test): {:.3f}'.format(model.score(X_test_std, y_test)))

accuracy(train): 0.811
accuracy(test): 0.810